# Ignore virtual environments
KFC/

# Ignore Python cache files
__pycache__/
*.py[cod]

# Ignore IDE files
.vscode/
.idea/

# Ignore data files
data/

# Ignore executable creation files
build/
*.spec

# Ignore distribution files
dist/

# Ignore everything in the data folder
data/*

# Except the raw and processed subfolders
!data/raw/
!data/processed/

# Ignore everything inside raw and processed subfolders
data/raw/*
data/processed/*

# Ensure the subfolders themselves are kept, even if empty
!data/raw/.gitkeep
!data/processed/.gitkeep